@font-face {
  font-family: "JetBrains-mono";
  src: url("/src/assets/fonts/JetBrainsMono-VariableFont_wght.ttf");
}

$font-family: "JetBrains-mono", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif;
$black: #100f15;
$light-black: #18171f;
$dark-gray: #24232b;
$gray: #838094;
$light-gray: #e6e6ea;
$green: #a4ffaf;
$orange: #f8ce60;
$transition-duration: 250ms;
